@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none !important;
  text-decoration: none !important;
  box-sizing: border-box !important;
  scroll-behavior: smooth !important;
}
.ff_Montserrat {
  font-family: "Montserrat" !important;
}
.ff_Inter {
  font-family: "Inter" !important;
}
:root {
  --fs-13xl: 230px;
  --fs-12xl: 200px;
  --fs-11xl: 150px;
  --fs-10xl: 80px;
  --fs-9xl: 75px;
  --fs-8xl: 70px;
  --fs-7xl: 65px;
  --fs-6xl: 55px;
  --fs-5xl: 50px;
  --fs-4xl: 40px;
  --fs-3xl: 35px;
  --fs-2xl: 30px;
  --fs-xl: 25px;
  --fs-lg: 20px;
  --fs-md: 18px;
  --fs-sm: 16px;
  --fs-xsm: 15px;
  /* color */
  --clr-nav-black: #212024;
  --clr-red: #bf0404;
  --clr-white_light: #efefef;
  --clr-white: #ffffff !important;
  --clr-grey: #6d6d6d;
  --clr-light-black: #e2e2e2;
  --clr-light-52: #525255;
  --clr-hero_black: #161515;
  --clr-light: #59585b;
  --color-clr_light_blue: #215bc7;
  --color-clr_light_green: #1caa68;
  --color-clr_pink: #e83da3;
  --color-clr_orange: #f18c27;
}
.fw_400 {
  font-weight: 400;
}
.fw_500 {
  font-weight: 500;
}
.fw_600 {
  font-weight: 600;
}
.fw_700 {
  font-weight: 700;
}
.fw_800 {
  font-weight: 800;
}
.fw_900 {
  font-weight: 900;
}
/* color */
.bg_nav_black {
  background-color: var(--clr-nav-black);
}
.clr_red {
  color: var(--clr-red);
}
.clr_light_black {
  color: var(--clr-light-black);
}
.bg_red {
  background-color: var(--clr-red);
}
.clr_white {
  color: var(--clr-white);
}
.clr_gray {
  color: var(--clr-grey);
}
.clr_light_white {
  color: var(--clr-white_light);
}
.clr_nav_black {
  color: var(--clr-nav-black);
}
.clr_hero_black {
  color: var(--clr-hero_black);
}
.clr_hero_light {
  color: var(--clr-light);
}
/* font_size */
.fs_13xl {
  font-size: var(--fs-13xl);
}

.fs_12xl {
  font-size: var(--fs-12xl);
}

.fs_11xl {
  font-size: var(--fs-11xl);
}

.fs_10xl {
  font-size: var(--fs-10xl);
}

.fs_9xl {
  font-size: var(--fs-9xl);
}

.fs_8xl {
  font-size: var(--fs-8xl);
}

.fs_7xl {
  font-size: var(--fs-7xl);
}

.fs_6xl {
  font-size: var(--fs-6xl);
}

.fs_5xl {
  font-size: var(--fs-5xl);
}

.fs_4xl {
  font-size: var(--fs-4xl);
}

.fs_3xl {
  font-size: var(--fs-3xl);
}

.fs_2xl {
  font-size: var(--fs-2xl);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_xsm {
  font-size: var(--fs-xsm);
}
@media (max-width: 1500px) {
  :root {
    --fs-11xl: 100px;
    --fs-12xl: 150px;
  }
}
@media (max-width: 1920px) and (min-width: 1200px) {
  :root {
    --fs-13xl: 430px;
  }
}
@media (max-width: 1800px) {
  :root {
    --fs-6xl: 45px;
  }
}
@media (max-width: 1600px) {
  :root {
    --fs-6xl: 35px;
  }
}
@media (max-width: 1400px) {
  :root {
    --fs-13xl: 230px;
    --fs-12xl: 150px;
    --fs-11xl: 100px;
    --fs-10xl: 55px;
    --fs-9xl: 75px;
    --fs-8xl: 70px;
    --fs-7xl: 65px;
    --fs-6xl: 45px;
    --fs-5xl: 50px;
    --fs-4xl: 40px;
    --fs-3xl: 30px;
    --fs-2xl: 25px;
    --fs-xl: 25px;
    --fs-lg: 25px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 15px;
  }
}
@media (max-width: 1200px) {
  :root {
    --fs-13xl: 200px;
    --fs-12xl: 130px;
    --fs-11xl: 90px;
    --fs-10xl: 55px;
    --fs-9xl: 75px;
    --fs-8xl: 70px;
    --fs-7xl: 65px;
    --fs-6xl: 40px;
    --fs-5xl: 50px;
    --fs-4xl: 40px;
    --fs-3xl: 30px;
    --fs-2xl: 25px;
    --fs-xl: 25px;
    --fs-lg: 28px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 15px;
  }
}
@media (max-width: 992px) {
  :root {
    --fs-12xl: 100px;
    --fs-11xl: 70px;
    --fs-10xl: 45px;
    --fs-9xl: 75px;
    --fs-8xl: 70px;
    --fs-7xl: 65px;
    --fs-6xl: 35px;
    --fs-5xl: 50px;
    --fs-4xl: 40px;
    --fs-3xl: 30px;
    --fs-2xl: 25px;
    --fs-xl: 25px;
    --fs-lg: 27px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 15px;
  }
}
@media (max-width: 768px) {
  :root {
    --fs-12xl: 90px;
    --fs-11xl: 60px;
    --fs-10xl: 35px;
    --fs-9xl: 70px;
    --fs-8xl: 70px;
    --fs-7xl: 50px;
    --fs-6xl: 35px;
    --fs-5xl: 35px;
    --fs-5xl: 35px;
    --fs-4xl: 40px;
    --fs-3xl: 30px;
    --fs-2xl: 25px;
    --fs-xl: 25px;
    --fs-lg: 20px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 15px;
  }
}
@media (max-width: 576px) {
  :root {
    --fs-12xl: 80px;
    --fs-11xl: 50px;
    --fs-10xl: 25px;
    --fs-9xl: 65px;
    --fs-8xl: 70px;
    --fs-7xl: 25px;
    --fs-6xl: 19px;
    --fs-5xl: 25px;
    --fs-4xl: 25px;
    --fs-4xl: 25px;
    --fs-3xl: 30px;
    --fs-2xl: 25px;
    --fs-xl: 25px;
    --fs-lg: 15px;
    --fs-md: 18px;
    --fs-sm: 16px;
    --fs-xsm: 15px;
  }
}
@media (max-width: 500px) {
  :root {
    --fs-12xl: 70px;
    --fs-11xl: 40px;
  }
}
@media (max-width: 400px) {
  :root {
    --fs-12xl: 50px;
    --fs-11xl: 30px;
    --fs-xl: 15px;
  }
}
